

.nav-item{
    margin: 0px 65px;
    text-decoration: none;
    list-style: none;
    margin: 0 20px;
    font-size: 16px;
    list-style: none;
    font-size: 17px;
    transform: scale(0.95);
    
}

.nav-item-centred{
    margin: 0 10vw;
 }

 
.nav-item a {
    text-decoration: none;
    color: #67B116;
    text-decoration: none;

}
li:hover{
    transform: scale(1);
    text-decoration: none;
}
li a{
    text-decoration: none;
}
.shop{
    position: absolute;
    right: 10px;
}
nav{
    justify-content: center;
    padding-top: 25px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
    .heyy {
        list-style: none;
        margin: 0 15px;
        font-size: 17px;
        transform: scale(0.95);
    }
    .testt {
        margin: 0px 6px;
        position: relative;
        text-decoration: none;
        left: -100px;
        top: 1px;
    }
}