.profileSection{
    position: relative;
    top: 5%;
}

.buttonss{
    position: absolute;
    right: -15%;
    top: 30%;
}
.buttonss button{
    border: none;
    background: none;
    padding: 10px 20px;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
}

.inputes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
}

.inp{
    margin-bottom: 20px;
}
.inp input{
    border: 1px solid rgb(124, 124, 124);
    border-radius: 3px;
    outline: none;
}